.header {
  padding-right: 24px;
  padding-left: 24px;
}

.content {
  height: 100%;
  background-color: #000;
}

.footer {
  background-color: #333;
}

.quote-content {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
}

.quote-content.full {
  width: 100%;
}

.quote-author {
  margin-top: 20px;
  opacity: 0.75;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  text-align: left;
}

.author-photo {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: 0px;
  clear: left;
}

.logo {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.paragraph {
  display: inline-block;
  float: right;
  color: #fff;
}

.link {
  display: inline-block;
  margin-top: 30px;
  margin-right: 32px;
  float: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #00d4ff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  margin: 12px 12px auto;
  padding: 16px 24px;
  float: right;
  border-style: solid;
  border-width: 2px;
  border-color: #3900b3;
  background-color: #3900b3;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #00d4ff;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.btn.right {
  position: static;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
  float: right;
  background-color: rgba(0, 0, 0, .75);
}

.gradient {
  height: 2px;
  background-image: linear-gradient(135deg, #3900b3, #00d4ff);
}

.body {
  height: 100%;
  max-height: 100%;
  background-color: #000;
}

.btn-container {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.camera {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: block;
  width: 75%;
  height: 100%;
  float: right;
  opacity: 0.75;
}

.next {
  position: relative;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 100px;
  margin-left: 12px;
  padding: 16px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #3900b3;
  background-color: #fff;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #3900b3;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.next:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #00d4ff;
  background-color: #00d4ff;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #3900b3;
}

.next.right {
  display: inline-block;
  margin: 12px 24px;
  float: right;
}

.hint {
  display: inline-block;
  margin-top: 30px;
  float: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #00d4ff;
  font-size: 20px;
}

.hint_div {
  display: inline-block;
  float: right;
}

.next_container {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 150px;
}

.question.half {
  width: 50%;
  padding-left: 24px;
}

.next_section {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-left: 24px;
}

.p {
  font-size: 20px;
  line-height: 30px;
}

.p.center {
  margin-top: 100px;
  margin-bottom: 24px;
  font-style: italic;
}

.caption {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  float: right;
  clear: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #fff;
  text-align: right;
}

.about {
  margin-top: 100px;
}

.image {
  margin: 12px;
}

.url {
  color: #00d4ff;
}

.url:hover {
  color: #00d4ff;
}

.url:active {
  color: #00d4ff;
}

.url:focus {
  color: #00d4ff;
}

.url:visited {
  color: #00d4ff;
}

.twitter-share {
  position: relative;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 100px;
  margin-left: 12px;
  padding: 16px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #3900b3;
  background-color: #3900b3;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.twitter-share:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #00d4ff;
  background-color: #3900b3;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #fff;
}

.twitter-share.right {
  display: inline-block;
  margin: 12px 24px;
  float: right;
}

html.w-mod-js *[data-ix="appear-fast"] {
  opacity: 0;
  -webkit-transform: translate(50px, -10px);
  -ms-transform: translate(50px, -10px);
  transform: translate(50px, -10px);
}

html.w-mod-js *[data-ix="appear-long"] {
  opacity: 0;
  -webkit-transform: translate(50px, -10px);
  -ms-transform: translate(50px, -10px);
  transform: translate(50px, -10px);
}

@media (max-width: 991px) {
  .quote-content {
    width: 75%;
  }
  .next {
    margin-bottom: 50px;
  }
  .hint {
    display: none;
  }
  .question.half {
    width: 75%;
  }
  .caption {
    display: block;
    margin-right: 12px;
    margin-left: 12px;
  }
  .twitter-share {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-right: 12px;
    padding-left: 12px;
  }
  .quote-content {
    width: 100%;
  }
  .quote-content.full {
    margin-bottom: 200px;
  }
  .author_photo {
    display: block;
    margin-top: 10px;
  }
  .logo {
    display: inline;
  }
  .link {
    display: inline;
  }
  .btn {
    clear: right;
  }
  .camera {
    width: 100%;
    float: left;
  }
  .question {
    padding-right: 12px;
    padding-left: 12px;
  }
  .question.half {
    width: 100%;
  }
  .about {
    margin-top: 50px;
  }
  .image {
    display: block;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .quote-content {
    font-size: 40px;
    line-height: 40px;
  }

  .quote-author {
    margin-top: 10px;
    font-size: 14px;
  }
  .author-photo {
    width: 100px;
    height: 100px;
  }
  .btn {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
    padding: 12px;
    clear: left;
  }
  .btn.right {
    display: inline-block;
  }
  .next {
    margin: 10px 6px;
    padding: 12px;
  }
  .caption {
    margin-top: 12px;
  }
  .twitter-share {
    margin-top: 10px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 12px;
  }
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 75%;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}
#camera--trigger{
    visibility: hidden 
}
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}